/*mobile CSS*/
@media (max-width: 770px) {
    .showOnMobileOnly {
        display: inherit !important;
    }

    .hideOnMobileOnly {
        display: none;
    }
}

.branding {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.showOnMobileOnly {
    display: none;
}

/* Nav Menu*/
.navbar .card {
    margin: 8px;
}

.loginCard.active {
    background: #D7DAE7 !important;
}

#exstaIcon {
    color: #795695;
}

.form-check-input:checked {
    background-color: #A745E8;
    border-color: #9333ea;
}

.navbar-toggler {
    margin-left: 10px;
}

/*Home Page CSS*/
.body {
    margin: 12px;
}

.featuredImage {
    width: 40%;
    float: left;
    border-radius: 25px;
}

figure {
    margin-bottom: 0px;
}

.cardText {
    position: absolute;
    width: 56%;
    left: 42%;
}

.cardButton {
    float: right;
    position: absolute;
    bottom: 14px;
    right: 10px;
}

.cardPriceLabel {
    position: absolute;
    bottom: 14px;
    right: 130px;
}

/*Login Page CSS*/
.loginIntro, .registerIntro {
    text-align: center;
}

.registerIntro {
    padding-bottom: 16px;
}

.loginContainer {
    padding-left: 40%;
    padding-right: 40%;
}

.linkForgotPass {
    margin: 0px;
    color: #3f4d62;
    border-bottom: 2px solid var(--b-theme-primary);
    text-decoration: none;
    transition: color .5s ease-in-out;
    float: right;
}

.linkTermsConditions {
    margin: 0px;
    color: #3f4d62;
    border-bottom: 2px solid var(--b-theme-primary);
    text-decoration: none;
    transition: color .5s ease-in-out;
}

.inputFields .btn {
    width: 100%;
}
