@inherits LayoutComponentBase
@* <div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body

        </article>
    </main>
</div> *@

<div class="page">
<Layout Sider>
    <LayoutSider>
        <LayoutSiderContent>
             @* Loads in Nav Menu *@
            <NavMenu />
        </LayoutSiderContent>
    </LayoutSider>
    <Layout>
        <LayoutHeader Fixed>
            <Bar Breakpoint="Breakpoint.Desktop"
                 Background="Background.Light"
                 ThemeContrast="ThemeContrast.Light">
                <BarToggler />
                <BarMenu>
                    <BarStart>
                        <BarItem>
                            <Field class="px-3">
                                <TextEdit Placeholder="Search..." />
                            </Field>
                        </BarItem>
                    </BarStart>
                    <BarEnd>
                        <BarItem class="px-3">
                            <BarLink To="#extaCompany">Exsta Company</BarLink>
                        </BarItem>
                    </BarEnd>
                </BarMenu>
            </Bar>
        </LayoutHeader>
        <LayoutContent>
            @* Loads in Content specific Page *@
            @Body
        </LayoutContent>
    </Layout>
</Layout>
</div>