@page "/login"

<PageTitle>Login</PageTitle>

<h3>Login</h3>

<Card>
    <CardBody>
        <Heading Size="HeadingSize.Is5">
            Welcome.
            Glad to see you!
        </Heading>
    </CardBody>
</Card>

@code {

}