@page "/register"

<PageTitle>Register</PageTitle>

<h3>Register</h3>

<Card>
    <CardBody Class="loginContainer">
        <Heading Size="HeadingSize.Is5" Class="loginIntro">
            <Strong> Welcome. </Strong>
            <br />
            We're glad to have you!
        </Heading>
    </CardBody>
</Card>

@code {

}
