@page "/register"

<PageTitle>Register</PageTitle>

<h3>Register</h3>

<Card>
    <CardBody Class="registerContainer">
        <Heading Size="HeadingSize.Is5" Class="registerIntro">
            <Strong> Welcome. </Strong>
            <br />
            We're glad to have you!
        </Heading>
        <Fields>
            <Field ColumnSize="ColumnSize.Is3.Is3.WithOffset">
                <FieldLabel><Strong>Let's get you all set up</Strong></FieldLabel>
                <FieldBody>
                    <TextEdit Placeholder="Username"/>
                </FieldBody>
            </Field>
            <Field ColumnSize="ColumnSize.IsHalf">
                <FieldLabel>email</FieldLabel>
                <FieldBody>
                    <TextEdit Text="Smith" />
                </FieldBody>
            </Field>
            <Field ColumnSize="ColumnSize.IsFull">
                <FieldLabel>Password</FieldLabel>
                <FieldBody>
                    <TextEdit Text="john.smith@example.com" />
                    <FieldHelp>Password strength: <Text TextColor="TextColor.Danger">weak</Text></FieldHelp>
                </FieldBody>
            </Field>
            <Field ColumnSize="ColumnSize.IsFull">
                <FieldLabel>Repeat Password</FieldLabel>
                <FieldBody>
                    <TextEdit Text="john.smith@example.com" />
                </FieldBody>
            </Field>
            <Field Flex="Flex.JustifyContent.Between">
                <Button Color="Color.Danger">Delete</Button>
                <Div>
                    <Button Color="Color.Secondary">Cancel</Button>
                    <Button Color="Color.Primary">Sign me Up!</Button>
                </Div>
            </Field>
        </Fields>
    </CardBody>
</Card>

@code {

}
